/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withName: 'SETUP_SCVI' {
        publishDir = [
            path: { "${params.outdir}/scvi_model" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GET_CENSUS_ADATA' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PROCESS_QUERY_SAMPLE|PROCESS_QUERY_COMBINED' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/processed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'RF_CLASSIFY' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/predicted_celltypes" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMBINE_CTA' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/predicted_celltypes" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'RELABEL_OUTLIERS' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/predicted_celltypes" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMBINE_CLC' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/masks" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PROCESS_QC' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/qc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMBINE_QC' {
        publishDir = [
            path: { "${params.outdir}/${study_name}/combined_qc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'RUN_MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc/${study_name}" },
            mode: params.publish_dir_mode
        ]
    }

}
