/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full-size pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_full,<docker/singularity/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Human test profile'
    config_profile_description = 'Human test dataset to check pipeline function'

    // Input data for human test
    input = 'assets/test-human-samplesheet.csv'
    organism        = 'homo_sapiens'
    census_version  = '2024-07-01'
    subsample_ref   = 500
    process_samples = false
    cutoff          = 0
    seed            = 42
    nmads           = [mito: 20, umi: 5, genes: 5, counts: 5]
    use_staging     = true
    preferredCtaLevel = 'class'
    organ           = 'brain'
    ref_collections = [
        "Transcriptomic cytoarchitecture reveals principles of human neocortex organization",
        "SEA-AD: Seattle Alzheimer’s Disease Brain Cell Atlas"
    ]
    rename_file = "assets/rename_cells_${params.organism}.tsv"
    original_celltype_columns  =  null
    author_annotations_path    = null


    upload_cta = true
    upload_clc = true 
    upload_mask = true
    upload_multiqc = true
    outdir = "${projectDir}/results/${params.organism}_subsample_ref_${params.subsample_ref}_${java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ofPattern('yyyy-MM-dd_HH-mm-ss'))}"
}
