/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full-size pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_full,<docker/singularity/conda> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full test
   // study_names = 'GSE124952'
    input = 'assets/samplesheet.csv'
    // Pipeline parameters (full settings)
    organism        = 'mus_musculus'
    census_version  = '2024-07-01'
    subsample_ref   = 500
    process_samples = false
    cutoff          = 0
    seed            = 42
    nmads           = 5
    use_staging     = true

    // Full reference collections
    ref_collections = [
        "A taxonomy of transcriptomic cell types across the isocortex and hippocampal formation",
        "An integrated transcriptomic and epigenomic atlas of mouse primary motor cortex cell types",
        "Tabula Muris Senis"
    ]
    original_celltype_columns  = "${projectDir}/assets/original_celltype_columns.tsv"
    author_annotations_path    = "${projectDir}/assets/author_cell_annotations"

    preferredCtaLevel = 'family'
    upload_cta = true
    upload_clc = false
    upload_mask = true
    upload_multiqc = true
}
